body{
    background-image: linear-gradient(to left, #ffffff, #f2f2f2);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.navbar{
    background-image: linear-gradient(to left, #666666, #414141);
}

.alphaNav{
    padding-left: 30px;
    font-size: 30px;
    font-weight: bold;
    color: aliceblue;
 
}

#boton{
    background-image: linear-gradient(to left, #666666, #414141);
    font-weight: bold;
    border-color: #414141;
}

.conteiner-fluid{
    height: 350px;
    margin: 50px 30px;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 10px 20px #a0a0a0,
                0 0 0 2px #bcbcbc inset;
}