body{
    background-image: linear-gradient(to left, #e7e7e7, #c5c5c5);
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* background: #dbdada; */
}
h1{
    color: #bcbcbc;
}
.navbar{
    background-image: linear-gradient(to left, #666666, #414141);
}

.alphaNav{
    padding-left: 30px;
    font-size: 30px;
    font-weight: bold;
    color: aliceblue;
 
}

.bwhite{
    border: none;
    padding: 5px;
    border-radius: 10px;
    margin-right: 25px;
    font-weight: bold;
}

.bdark{
    background-image: linear-gradient(to left, #525252, #363636);
    color: aliceblue;
}
#boton{
    background-image: linear-gradient(to left, #666666, #414141);
    font-weight: bold;
    border-color: #3d3d3d;
}

.contenedorAPI{
        display: flex;
        flex-direction: row;
        padding-top: 50px;
        gap: 50px;
        justify-content: center;
        height: 450px;
}

.graficoAccionesProyectado, .graficoAcciones{
    width: 800px;
    padding: 25px;
    background: #f3f3f3;
    border-radius: 15px;
    box-shadow: 0 10px 20px #a0a0a0,
                0 0 0 2px #bcbcbc inset;  
}

.inputs{
    background-image: linear-gradient(to left, #ffffff, #e2e2e2);
    border-radius: 15px;
    box-shadow: 0 10px 20px #a0a0a0,
                0 0 0 2px #bcbcbc inset;
    display: grid;
    grid-template-areas: 
    'a d'
    'b c';
    width: 480px;
    padding: 20px;
    color: #2e2e2e;

}

.accion{
    width: 300px;
    grid-area: a;
}

.periodo{
    width: 175px;
    grid-area: b;
}

.frecuencia{
    width: 230px;
    grid-area: c;
    margin-left: -133px;
}

.accionTexto, .periodoTexto, .frecuenciaTexto{
    display: flex;
    font-weight: bold;
}

.accionLabel, .periodoLabel, .frecuenciaLabel{
    padding-right: 10px;
    padding-top: 6px;
}

.periodoTexto{
    width: 165px;    
}

.frecuenciaTexto{
    width: 215px; 
}

.botonLabel{
    grid-area: d;
    width: 100%;
    padding-bottom: 15px;
}

body.darkmode{
    background: #2e2e2e;
    color: #c5c5c5;
}

.inputsDark, .graficoAccionesDark, .graficoAccionesProyectadoDark{
    background-image: linear-gradient(to left, #6f6f6f, #686868);
    color: #a5a5a5;

}


@media screen and (max-width: 1200px){
    .contenedorAPI{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
    }
    #graficoAccionesProyectado, #graficoAcciones{
        height: 400px;
    }
}

@media screen and (max-width: 990px){
    #graficoAccionesProyectado, #graficoAcciones{
        width: 730px;
    }

}
@media screen and (max-width: 770px){
    #graficoAccionesProyectado, #graficoAcciones{
        width: 450px;
    }
    .inputs{
        width: 450px;
    }

}